*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6D2E0;
    font-family: 'Cormorant Garamond', serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #67A3D9;
    text-align: center;
}
header P{
    font-size: 30px;
    margin-right: 500px;
    color:white;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li{
    display: inline;
    gap: 20px;
    list-style-type: none;
    margin: 15px
}
nav ul li :hover{
    text-decoration: underline;
    color: black;
}
.buy-now-button {
    background-color: lightpink;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buy-now-button:hover {
    background-color: pink;
}



.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    margin: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.start{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(kin.jpg); 
    height: 120vh;
    background-size: cover;
    background-position:left;
    background-image: 20px;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.795);
}
.text{
    line-height: 50px;
    font-size: 20px;
    color: black;
    padding: 50px 0 0 150px;
    font-weight: 500;
}
.about a{
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
}
a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}
.icons p {
    text-align: center;
    font-size: 2rem;
}
.icons img {
    width: 120px;
    padding: 20px;
    margin-top: 50px;
}

.about-me {
    font-size: 1.5rem;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 150px;
    justify-content: center;
    justify-self: center;
}
.about-me h1 {
    text-align: center;
    margin-top: 20px;
}
.about-me p {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.view-more {
    font-size: 1.5rem;
    text-align: center;
    margin-top: -30px;
}
.ideas-and-skills {
    text-align: center;
    display: flex;
    
}
.ideas-and-skills img{
    width: 400px; 
    height: 400px;
    object-fit: cover; 
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}
.ideas {
    width: 50%;
}
.skills {
    width: 50%;
}
.ideas-and-skills-content{
    display: flex;
    padding: 0 80px;
    background-color: rgba(211, 211, 211, 0.466);
}
.ideas-and-skills-content h1{
    margin-left: 300px;
    font-size: 50px;   
}

.ideas h1{
    margin-left:200px;
    
}

.skills h1{
    margin-right: auto 10px;
}
.ideas-and-skills-content p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.6;
    margin-left: 20px;
}
.ideas-and-skills-content a{
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 20px;
}
.myExperience {
    margin: auto;
    display: flex;
    width: 80%; 
    height: 300px;
    align-items: center;
    margin-top: 20px;
}
.experience {
    height: 100%;
    width: 50%;
    padding: 50px;
}
.progress {
    width: 50%;
}
.experience h1 {
    font-size: 50px;
}
.experience p {
    font-size: 20px;
}
.progress-container {
    width: 90%;
    margin: 20px auto;
    position: relative;
    height: 13px;
    background-color: rgb(192, 255, 216);
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: rgb(212, 0, 255);
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    margin-top: 0;
    margin-bottom: 0;
}

.percent-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
}

.skill-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
}
.skill-section h2 {
    margin: 0;
    padding: 0;
    line-height: 10px
}
article {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    gap: 40px ;
}
.pic img {
    width: 97%;
    height: 600px;
    padding: 60px;
    
}
.pic {
    width: 40%;
}
.logo {
    display: flex;
    align-items: center;
}
b {
    padding-right: 10px;
}
.logo a {
    margin-right: 20px;
    text-decoration: none;
}
.text-and-logo {
    width: 50%;
    line-height: 30px;
    margin: auto;

}
.logo img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.work-and-art {
    display: flex;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.466);

}
.work-and-art-text {
    width: 50%;
    padding-left: 240px;
    font-size: 25px;

}
.work-and-art-text p {
    font-size: 20px;
}

.work-and-art-logo {
    width: 50%;
    display: flex;
    gap: 40px;
    padding-left: 90px;
    font-size: 30px;
    justify-content: space-around;
    padding-top: 20px;
}
.work-and-art-logo p {
    padding-left: 5px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.work-and-art-logo img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 20px;
}

.design {
    margin-left: 10px;
    padding-top: 20px;
}
.branding {
    padding-top: 20px;
}
.multitasking {
    margin-left: -20px;
    padding-top: 20px;
}
.three-picture {
    margin-top: 40px;
    text-align: center;
    display: flex;
}
.three-picture img {
    width: 400px; 
    height: 400px;
    object-fit: cover; 
    margin: auto;
    border-radius: 30px;
    padding: 30px;
    
}
.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 160px;
    margin: auto;
}
.numbers h1 {
    font-size: 65px;
    font-weight: 800;
    margin: auto 15px;
}
.numbers p {
    font-size: 30px;
    padding-top: 30px;
}
select {
    padding: 8px;
    font-size: 16px;
}
.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.text-container p {
    font-size: 25px;
}
.clickable-text {
    cursor: pointer;
    text-decoration: underline;
    margin-right: 20px;
}

.additional-text {
    display: none;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.last-info {
    position: relative;
    margin-left: 90px;
    margin-top: 70px
}

.images {
    display: flex;
}
.personal-images {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: flex;
    margin: auto 45px;
}
.last-logo {
    position: absolute; 
    background:#67A3D9;
    height: 60px; 
    width: 60px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.22);
    border-radius: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 37px;
    top: 0.5rem;
}
.last-logo img {
    width: 30px;
}
.logo-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-right: 95px;
    padding: 15px;
    
}
.logo-container p {
    text-align: center;
    font-size: 2rem;
    margin-right: 95px;
    padding-bottom: 20px;
}
.text-container {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
}
.clickable-text {
    cursor: pointer;
    margin-right: 0px;
    max-width: 300px;
    word-wrap: break-word;
}
.additional-text {
    display: none;
    margin-top: 5px;
    max-width: 300px;
    overflow: hidden;
    height: 100px; 
    transition: height 0.3s;
}
.additional-text p {
    max-width: 100%; 
}
.additional-text.open {
    height: auto;
}
.myclients {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.client-logo {
    max-width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 
}

.client-logo div {
    width: 100%; 
    transition: filter 0.3s;
}

.client-logo:nth-child(even) {
    margin-top: 20px;
}

.client-logo div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: filter 0.5s;
    /* filter: grayscale(100%) invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg); */
}

.client-logo div:hover img {
    filter: grayscale(100%) brightness(50%);
    transform: scale(1.1);
}
.questions h1 {
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}
.container {
    max-width: 400px;
    margin: 50px auto;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color:#67A3D9;
    color: white;
    border: none;
    cursor: pointer;
}
.address {
    text-align: center;
    padding: 30px;
    background-color: rgba(211, 211, 211, 0.466);
}
.address p {
    margin: 8px 0;
    text-align: left;
}
.address div {
    padding: 20px;
    font-size: 30px;
    max-width: 500px;
    margin: 40px auto;
}
footer {
    background-color: palevioletred;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}